In [1]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 02F8-4C47

 Directory of C:\Users\omkar\Documents\Projects\Web Scraping

12-03-2025  12:30    <DIR>          .
12-03-2025  08:16    <DIR>          ..
12-03-2025  12:30    <DIR>          .ipynb_checkpoints
12-03-2025  11:25             1,833 1_extract_all_pages.py
12-03-2025  12:28               565 2_extract data.py
12-03-2025  12:29         1,498,710 data.csv
12-03-2025  12:29                53 de.py
12-03-2025  11:34    <DIR>          html_data
12-03-2025  12:30                72 Untitled.ipynb
12-03-2025  08:17    <DIR>          venv
               5 File(s)      1,501,233 bytes
               5 Dir(s)  139,833,540,608 bytes free

In [11]:
import pandas as pd

df = pd.read_csv('data.csv')

In [13]:
df.head()

,Name,Price,Description
0,A Light in the Attic,£51.77,It's hard to imagine a world without A Light i...
1,The Black Maria,£52.15,"Praise for Aracelis Girmay:""[Girmay's] every l..."
2,In the Country We Love: My Family Divided,£22.00,The star of Orange is the New Black and Jane t...
3,"Hawkeye, Vol. 1: My Life as a Weapon (Hawkeye #1)",£45.24,The breakout star of this summer's blockbuster...
4,Immunity: How Elie Metchnikoff Changed the Cou...,£57.36,"Around Christmas of 1882, while peering throug..."

In [19]:
df.shape

(1000, 3)